/* Style big to little elements */
/* Code Mobile First */

main {
    margin:0;
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 400px;
    background: cornflowerblue;
}

section {
    padding:20px;
    min-height: 100%;
    text-align: center;
    background-color: white;
}

h1 {
    color: white;
    font-size: 40px;
}

h2 {
    font-weight: 600;
    font-size: 28px;
    color: black;
}

p{
    font-family: Open Sans, sans-serif;
    font-size:16px;
}

.barone, .bartwo, .barthree {
    margin: 0 auto;
    height: 30px;
    width: 200px;
}

.barone {
    background-color: cornflowerblue;
}

.bartwo {
    background-color: darkorange;
}

.barthree {
    background-color:darkcyan;
}

/* Assign the grid areas */

main {grid-area:main;}
.section-one {grid-area:section-one;}
.section-two {grid-area:section-two;}
.section-three {grid-area:section-three;}

/* Define the grid */
@media (min-width: 576px){
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat (3,1fr);
        grid-template-areas: 
            "main main"
            "section-one section-two"
            "section-three .";
    }

    main {

        background-color:  darkcyan;

    }

    h2, p {
    
        color: green;

    }
}

@media (min-width: 992px) {

    body {
        background-color: black;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
            "main main main"
            "section-one section-two section-three";
    }

    h1{
        font-size: 60px;
    }

    h2, p {
        color: black;
    }

    .one, .two, .three {
        background-color: black;
    }
}